
<div class="container">
    <div class="row col-lg-12">
   
        <div class="col-lg-6" style="border:1px  solid red;">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let videos of listofvideos" (click)="playVideo(videos.url)">{{videos.title}}</li>
                
            </ul>
        </div>
        <div class="col-lg-6" style="border:1px  solid blue;">
            <iframe [src]="safeSrc" width="520" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen
      allowfullscreen></iframe>
        </div>
    </div>
</div>